*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   } 
   
   .container-img{
      background-image:url(../img/jumbo.png);
      height: 700px;
      background-size: cover;
      
      }
  
   .mini-container{
      max-width: 1000px;
      margin-inline: auto;
      padding: 30px;
  }
  
  .flex-box{
      display: flex;
      justify-content: space-between;
     
      
  }
  
  .info{
      font-size: 20px;
      color: white;
  }
  
  .acces-page{
      border-radius: 10px;
      width: 80px;
      border-color: white;
  }
  
  main{
      text-align: center;
      margin-top: 100px;
      
      color: white;
  }
  
  .page-info{
     font-size: 4rem; 
  }
  
  
  .paragraf{
      width: 80%;
      font-size: 1.5rem;
      text-align: center;
      margin-left: 50px;
  }
   
  .page-info2{
      font-size: 3rem;
  }
  
  .paragraf2{
      padding-top: 20px;
      font-size: 1.3em;
  }
  
  .container-img2{
      background-image: url(../img/wave.svg);
      
  }

  
  .flex-box2{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .flex-box3{
    display: flex;
    justify-content: center;
    
}

.bottone{
    margin-top: 40px;
    font-size: 2rem;
    border-radius: 2rem;
    padding: 10px;
    color: white;
    background-color: rgb(78, 117, 235);
    border-color:  rgb(78, 117, 235);
}

.container-back{
    background-color: black;
}

h3{
    color: rgb(78, 117, 235);
    font-size: 2rem;
    position: relative;
    bottom: 10px;
}

.italy{
  height: 20px;
  margin-top: 30px;
}

.icon{
    padding-top: 15px;
    height: 40px;
    padding-left: 10px;
}

h4{
    color: rgb(78, 117, 235);
    padding-left: 30px;
    font-size: 1.2rem;
    
}

.flex-box4{
    display: flex;
    justify-content: space-around;
}

h5{
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}

.linea{
   color: white;
    margin-top: 150px;
    height: 100%;
    
}

.bottone2{
    color: white;
    background-color: rgb(78, 117, 235);
    border-color:  rgb(78, 117, 235);
    border-radius: 2rem;
    
}
 
    
 



 
  
  
  
  
  
  